<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<main class="container">
<div class="form">
  <fieldset>
    <form id="add-wine"  method="POST" action="/user/addwine/post"  onsubmit="return checkForm(this);" enctype="multipart/form-data">
      <div class="row">
        <legend>Add a Wine</legend>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" name="quantity" id="quantity" min="1" max="100">
        </div>

        <div class="form-group">
          <label for="vintage">Vintage</label>
          <input type="number" name="vintage" id="vintage" min="1900" max="2100">
        </div>

        <div class="form-group">
          <label for="wine-name">Name</label>
          <input type="text" name="wine-name" id="wine-name">
        </div>

        <div class="form-group">
          <label for="wine-type">Wine Type</label>
          <select name="wine-type">
            <option value="Albariño">Albariño</option>
            <option value="Aligoté">Aligoté</option>
            <option value="Amarone">Amarone</option>
            <option value="Arneis">Arneis</option>
            <option value="Asti Spumante">Asti Spumante</option>
            <option value="Auslese">Auslese</option>
            <option value="Banylus">Banylus</option>
            <option value="Barbaresco">Barbaresco</option>
            <option value="Bardolino">Bardolino</option>
            <option value="Barolo">Barolo</option>
            <option value="Beaujolais">Beaujolais</option>
            <option value="Blanc de Blancs">Blanc de Blancs</option>
            <option value="Blanc de Noirs">Blanc de Noirs</option>
            <option value="Blush">Blush</option>
            <option value="Boal">Boal</option>
            <option value="Brunello">Brunello</option>
            <option value="Cabernet Franc">Cabernet Franc</option>
            <option value="Cabernet Sauvignon" selected>Cabernet Sauvignon</option>
            <option value="Carignan">Carignan</option>
            <option value="Carmenere">Carmenere</option>
            <option value="Cava">Cava</option>
            <option value="Charbono">Charbono</option>
            <option value="Champagne">Champagne</option>
            <option value="Chardonnay">Chardonnay</option>
            <option value="Châteauneuf-du-Pape">Châteauneuf-du-Pape</option>
            <option value="Chenin Blanc">Chenin Blanc</option>
            <option value="Chianti">Chianti</option>
            <option value="Claret">Claret</option>
            <option value="Colombard">Colombard</option>
            <option value="Constantia">Constantia</option>
            <option value="Cortese">Cortese</option>
            <option value="Dolcetto">Dolcetto</option>
            <option value="Eiswein">Eiswein</option>
            <option value="Frascati">Frascati</option>
            <option value="Fumé Blanc">Fumé Blanc</option>
            <option value="Gamay">Gamay</option>
            <option value="Gattinara">Gattinara</option>
            <option value="Gewürztraminer">Gewürztraminer</option>
            <option value="Grappa">Grappa</option>
            <option value="Grenache">Grenache</option>
            <option value="Kir">Kir</option>
            <option value="Lambrusco">Lambrusco</option>
            <option value="Liebfraumilch">Liebfraumilch</option>
            <option value="Madeira">Madeira</option>
            <option value="Malbec">Malbec</option>
            <option value="Marsala">Marsala</option>
            <option value="Marsanne">Marsanne</option>
            <option value="Meritage">Meritage</option>
            <option value="Merlot">Merlot</option>
            <option value="Montepulciano">Montepulciano</option>
            <option value="Moscato">Moscato</option>
            <option value="Mourvedre">Mourvedre</option>
            <option value="Müller-Thurgau">Müller-Thurgau</option>
            <option value="Muscat">Muscat</option>
            <option value="Nebbiolo">Nebbiolo</option>
            <option value="Petit Verdot">Petit Verdot</option>
            <option value="Petite Sirah">Petite Sirah</option>
            <option value="Pinot Blanc">Pinot Blanc</option>
            <option value="Pinot Grigio/Pinot Gris">Pinot Grigio/Pinot Gris</option>
            <option value="Pinot Meunier">Pinot Meunier</option>
            <option value="Pinot Noir">Pinot Noir</option>
            <option value="Pinotage">Pinotage</option>
            <option value="Port">Port</option>
            <option value="Red Blend">Red Blend</option>
            <option value="Retsina">Retsina</option>
            <option value="Rosé">Rosé</option>
            <option value="Roussanne">Roussanne</option>
            <option value="Sangiovese">Sangiovese</option>
            <option value="Sauterns">Sauterns</option>
            <option value="Sauvignon Blanc">Sauvignon Blanc</option>
            <option value="Sémillon">Sémillon</option>
            <option value="Sherry">Sherry</option>
            <option value="Soave">Soave</option>
            <option value="Trebbiano">Trebbiano</option>
            <option value="Valpolicella">Valpolicella</option>
            <option value="Verdicchio">Verdicchio</option>
            <option value="Viognier">Viognier</option>
            <option value="White Blend">Red Blend</option>
            <option value="Zinfandel">Zinfandel</option>
          </select>
        </div>

        <div class="form-group">
          <label for="winery">Winery</label>
          <input type="text" name="winery" id="winery">
        </div>

        <div class="form-group">
          <label for="region">Region</label>
          <input type="text" name="region" id="region">
        </div>

        <div class="form-group">
          <label for="purchase-date">Purchase Date</label>
          <input type="date" name="purchase-date" id="purchase-date">
        </div>

        <div class="form-group">
          <label for="value">Vintage Value</label> <span>$</span>
          <input type="number" name="value" id="value" min="0" max="10000" step="0.01">
        </div>

        <div class="form-group">
          <label for="rating">Vintage Rating</label>
          <input type="number" name="rating" id="rating" min="0" max="100">
        </div>

        <div class="form-group">
          <label for="tasting-notes">Tasting Notes</label><br>
          <textarea class="form-control" name='tasting-notes' id='tasting-notes'></textarea>
        </div>

        <div class="form-group">
          <label for='comments'>Comments</label><br>
          <textarea class='form-control' name='comments' id='comments'></textarea>
        </div>
      </div>
      <input type="submit" name="submit" value="Add to Cellar">
    </form>
  </fieldset>
</div>
</main>